body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #ff9900;
  overflow: hidden;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
}

code {
  font-family: 'Orbitron', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
